@{
    ViewBag.Title = "About";
}
<div class="service-heading-block">
    <h2 class="text-center text-primary title">Our amazing Service features</h2>
</div>

<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="text-center feature-block">
            <span class="fb-icon color-warning">
                <i class="fa fa-comments" aria-hidden="true"></i>
            </span>
            <h4 class="color-warning">Live Open Questions</h4>
            <p class="">Add open questions and watch yours participants answering in real-time.</p>
            <a href="#" class="btn btn-warning btn-custom">Click here</a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="text-center feature-block">
            <span class="fb-icon color-success">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </span>
            <h4 class="color-success">Feedback</h4>
            <p class="">Instructors Gather instantaneous feedback about thier students participation</p>
            <a href="#" class="btn btn-success btn-custom">Click here</a>
        </div>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="text-center feature-block">
            <span class="fb-icon color-info">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            </span>
            <h4 class="color-info">Slide Sharing</h4>
            <p class="">Instructors can upload materials of the course to the students</p>
            <a href="#" class="btn btn-info btn-custom">Click here</a>
        </div>
    </div>


    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="text-center feature-block">
            <span class="fb-icon color-danger">
                <i class="fa fa-fire" aria-hidden="true"></i>
            </span>
            <h4 class="color-danger">Live Polls</h4>
            <p class="">Instructors can post polls to learn about the background of their students.</p>
            <a href="#" class="btn btn-danger btn-custom">Click here</a>
        </div>
    </div>
</div>
